/*@import "./Cards/Cards.module.css";*/

body {
	background: rgba(255, 255, 255, 0.651);
	color: white;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.image {
	width: 370px;
	margin-top: 50px;
}
